
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url('assets/images/bg.jpg');
    height: 80vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .box{
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
}

nav{
    width: 80vw;
    position: relative;
    z-index: 10;
    margin: auto;
    padding: 19px 0px;
    display: flex;
    justify-content: space-between;
}

.btn-logo-2{
    background-color: red;
    color: white;
    border: white;
    font-size: 11px;
    border-radius: 3px;
    padding: 6px 10px;
    cursor: pointer;
    margin: 0 2px;

}

.btn-logo-1{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 11px;
    border-radius: 2px;
    padding: 4px 14px;
    cursor: pointer;
    margin: 0 2px;
}

.text{
    height: calc(100% - 73px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 5;
    gap: 15px;
}

.e-bar{
    padding: 11px 80px 11px 12px;
    border: 1px solid rgba(100, 98, 98, 0.9);
    background-color: rgba(23,23, 23, 0.7);
    border-radius: 2px;
    color: white;

}

.e-button{
    background-color: red;
    color: white;
    border: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    padding: 12px 27px;
    cursor: pointer;
}

.separation{
    height: 6px;
    background-color: rgb(54, 51, 51);
}

.firstSection{
    display: flex;
    justify-content: center;
    height: 80vh;
    max-width: 90vw;
    /* background-color: white; */
    margin: auto;
    color: white;
}

.secText{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 8px; */
    width: 50%;
    height: 100%;
}
.inner{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.secImg{
    width: 50%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.secImg img{
    width: 40vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    width: 31vw;
}

.SecondSection{
    display: flex;
    justify-content: center;
    height: 80vh;
    max-width: 90vw;
    /* background-color: white; */
    margin: auto;
    color: white;
}

.third{
    max-width: 90vw;
    display: flex;
    justify-content: flex-start;
    height: 50vh;
    max-width: 50vw;
    /* background-color: white; */
    margin: auto;
    color: white;
}

.forth{
    display: flex;
    justify-content: center;
    height: 80vh;
    max-width: 90vw;
    /* background-color: white; */
    margin: auto;
    color: white;   
}

.faq span{
    text-align: center;
    color: white;
}

.faq .faqBox{
    color: white;
    background-color: rgb(48, 46, 46);
    height: 10vh;
    max-width: 74vw;
    margin: 6px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.faq .faqBox:hover{
    background-color: rgb(59, 58, 58);
}


.faqBox svg{
    filter: invert(1);
}

.email{
    margin: 20px 0 5% 0;
}

.text_p{
    margin-top: 3%;
}

footer{
    color: white;
    max-width: 70vw;
    margin: auto;
    margin-top: 2.5%;
}


.footer{
    display: grid;
    margin-top: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 27vh;
    color: white;
}

.footer_item{
    display: flex;
    flex-direction: column;
}

.footer_item a{
    color: white;
    text-decoration: underline;
    font-size: 13px;
    margin: 4px 0;
    font-family: Arial, Helvetica, sans-serif;
}